### Import

In [ ]:
import pandas as pd
import numpy as np
import random
import os

from sklearn.linear_model import LogisticRegression

In [2]:
def seed_everything(seed):
    random.seed(seed)
    os.environ['PYTHONHASHSEED'] = str(seed)
    np.random.seed(seed)

seed_everything(42)

In [3]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

### Data Preprocessing 1 : Time Split

In [4]:
train['year'] = train['date'].apply(lambda x : int(x[0:4]))
train['month'] = train['date'].apply(lambda x : int(x[5:7]))
train['day'] = train['date'].apply(lambda x : int(x[8:10]))
train.drop(columns=['date'], inplace=True)

In [5]:
test['year'] = test['date'].apply(lambda x : int(x[0:4]))
test['month'] = test['date'].apply(lambda x : int(x[5:7]))
test['day'] = test['date'].apply(lambda x : int(x[8:10]))
test.drop(columns=['date'], inplace=True)

### Data Preprocessing 2 : Create Future Stats

In [6]:
stats_columns = [
'halfTimeGoals(homeTeam)',
'halfTimeGoals(awayTeam)',
'shots(homeTeam)',
'shots(awayTeam)',
'shotsOnTarget(homeTeam)',
'shotsOnTarget(awayTeam)',
'corners(homeTeam)',
'corners(awayTeam)',
'fouls(homeTeam)',
'fouls(awayTeam)',
'yellowCards(homeTeam)',
'yellowCards(awayTeam)',
'redCards(homeTeam)',
'redCards(awayTeam)'
]

In [7]:
train['match'] = train['homeTeam'] + '-' + train['awayTeam']
pair_stats = train.groupby('match')[stats_columns].mean().reset_index() # match mean

In [8]:
test['match'] = test['homeTeam'] + '-' + test['awayTeam']
test_with_stats = test.merge(pair_stats, on='match', how='left')
test_with_stats.fillna(pair_stats[stats_columns].mean(), inplace=True) # pair_stats mean

### Data Preprocessing 3 : Select x, y

In [9]:
train_x = train.drop(columns=['matchID', 'goals(homeTeam)', 'goals(awayTeam)', 'result'])
train_y = train['result']

test_x = test_with_stats.drop(columns=['matchID'])
test_x = test_x[train_x.columns]

### Data Preprocessing 4 : Label Encoding

In [10]:
from sklearn.preprocessing import LabelEncoder

encoding_target = list(train_x.dtypes[train_x.dtypes == "object"].index)

for i in encoding_target:
    le = LabelEncoder()
    le.fit(train_x[i])
    train_x[i] = le.transform(train_x[i])
    
    # test 데이터의 새로운 카테고리에 대해 le.classes_ 배열에 추가
    for case in np.unique(test_x[i]):
        if case not in le.classes_: 
            le.classes_ = np.append(le.classes_, case)
    
    test_x[i] = le.transform(test_x[i])

### Model Setting

In [11]:
model = LogisticRegression(max_iter=100,
                           penalty='l2',
                           C=1.0)

### Model Train and Inference

In [12]:
model.fit(train_x, train_y) 
prediction = model.predict_proba(test_x)

display(model.classes_)
display(prediction)

array(['A', 'D', 'H'], dtype=object)

array([[0.29722315, 0.24675809, 0.45601876],
       [0.2648828 , 0.24670025, 0.48841694],
       [0.33289017, 0.2452336 , 0.42187623],
       [0.33152879, 0.24532218, 0.42314903],
       [0.25432   , 0.24634569, 0.49933431],
       [0.25784276, 0.24648413, 0.49567311],
       [0.2681867 , 0.2467681 , 0.4850452 ],
       [0.32723978, 0.24557817, 0.42718205],
       [0.29240865, 0.24684172, 0.46074964],
       [0.27461579, 0.24687169, 0.47851252],
       [0.33277222, 0.24524221, 0.42198557],
       [0.26902075, 0.24679624, 0.484183  ],
       [0.33310604, 0.24521912, 0.42167484],
       [0.2834218 , 0.24690947, 0.46966872],
       [0.32681354, 0.24561177, 0.4275747 ],
       [0.30360457, 0.24659976, 0.44979568],
       [0.26431146, 0.2466917 , 0.48899684],
       [0.2737302 , 0.24686588, 0.47940391],
       [0.30603782, 0.24654158, 0.44742059],
       [0.3117666 , 0.2463316 , 0.4419018 ],
       [0.333307  , 0.24521167, 0.42148133],
       [0.25805476, 0.24649425, 0.49545099],
       [0.26692155, 0.24675069, 0.48632776],
       [0.29164609, 0.24685869, 0.46149523],
       [0.29419714, 0.24682788, 0.45897497],
       [0.30233665, 0.24663801, 0.45102534],
       [0.3061474 , 0.24653014, 0.44732247],
       [0.26427144, 0.24669091, 0.48903765],
       [0.27037522, 0.24680919, 0.48281559],
       [0.3287758 , 0.24548232, 0.42574189],
       [0.33270664, 0.24524406, 0.4220493 ],
       [0.26645396, 0.24674951, 0.48679653],
       [0.29422025, 0.2468172 , 0.45896255],
       [0.29287253, 0.24682806, 0.4602994 ],
       [0.2744888 , 0.24687226, 0.47863895],
       [0.27730687, 0.24690591, 0.47578722],
       [0.27987168, 0.24691002, 0.4732183 ],
       [0.33299227, 0.24523233, 0.4217754 ],
       [0.28291546, 0.24691453, 0.47017002],
       [0.33263369, 0.24523926, 0.42212705],
       [0.2564047 , 0.2464369 , 0.4971584 ],
       [0.26739253, 0.2467677 , 0.48583978],
       [0.29758181, 0.24675451, 0.45566367],
       [0.31163892, 0.2463387 , 0.44202238],
       [0.32206318, 0.24585553, 0.43208128],
       [0.30346345, 0.24660208, 0.44993448],
       [0.33280799, 0.24523646, 0.42195556],
       [0.30665888, 0.2465007 , 0.44684042],
       [0.33317196, 0.24521642, 0.42161163],
       [0.2690702 , 0.24679968, 0.48413012],
       [0.26468514, 0.24669869, 0.48861618],
       [0.32765852, 0.24555574, 0.42678575],
       [0.2919167 , 0.24684832, 0.46123498],
       [0.25402518, 0.24634207, 0.49963275],
       [0.27401358, 0.24686793, 0.47911848],
       [0.33304622, 0.24523164, 0.42172214],
       [0.3115187 , 0.24634189, 0.44213942],
       [0.33079464, 0.24537781, 0.42382755],
       [0.28086715, 0.24690925, 0.4722236 ],
       [0.25632242, 0.24643789, 0.4972397 ],
       [0.27801456, 0.24690079, 0.47508465],
       [0.28265297, 0.24692166, 0.47042537],
       [0.25458692, 0.24637132, 0.49904176],
       [0.33108719, 0.2453591 , 0.42355372],
       [0.28052369, 0.24692309, 0.47255322],
       [0.27741466, 0.24690229, 0.47568305],
       [0.29809083, 0.24673826, 0.45517091],
       [0.26808321, 0.24678149, 0.48513529],
       [0.32799435, 0.24554139, 0.42646426],
       [0.28226672, 0.24692433, 0.47080894],
       [0.30321885, 0.24661408, 0.45016706],
       [0.33336655, 0.24520711, 0.42142635],
       [0.29687676, 0.24676769, 0.45635555],
       [0.27982323, 0.24692289, 0.47325388],
       [0.25666089, 0.24645516, 0.49688395],
       [0.26410955, 0.24669318, 0.48919728],
       [0.32053108, 0.24595084, 0.43351807],
       [0.30644046, 0.24653051, 0.44702903],
       [0.27524608, 0.24686811, 0.47788581],
       [0.29626719, 0.24676375, 0.45696906],
       [0.26742134, 0.24676862, 0.48581005],
       [0.27733148, 0.24690124, 0.47576727],
       [0.25425008, 0.24634818, 0.49940174],
       [0.33322452, 0.24520858, 0.4215669 ],
       [0.33307669, 0.24522297, 0.42170034],
       [0.26973965, 0.24680332, 0.48345703],
       [0.26664359, 0.24674437, 0.48661203],
       [0.29311874, 0.24682391, 0.46005736]])

### Submission

In [13]:
sample_submission = pd.read_csv('sample_submission.csv')
sample_submission

       matchID  A  D  H
0   MATCH_9008  0  1  0
1   MATCH_9009  0  1  0
2   MATCH_9010  0  1  0
3   MATCH_9011  0  1  0
4   MATCH_9012  0  1  0
..         ... .. .. ..
83  MATCH_9091  0  1  0
84  MATCH_9092  0  1  0
85  MATCH_9093  0  1  0
86  MATCH_9094  0  1  0
87  MATCH_9095  0  1  0

[88 rows x 4 columns]

In [14]:
sample_submission.iloc[:,1:] = prediction
sample_submission

       matchID         A         D         H
0   MATCH_9008  0.297223  0.246758  0.456019
1   MATCH_9009  0.264883  0.246700  0.488417
2   MATCH_9010  0.332890  0.245234  0.421876
3   MATCH_9011  0.331529  0.245322  0.423149
4   MATCH_9012  0.254320  0.246346  0.499334
..         ...       ...       ...       ...
83  MATCH_9091  0.333225  0.245209  0.421567
84  MATCH_9092  0.333077  0.245223  0.421700
85  MATCH_9093  0.269740  0.246803  0.483457
86  MATCH_9094  0.266644  0.246744  0.486612
87  MATCH_9095  0.293119  0.246824  0.460057

[88 rows x 4 columns]

In [15]:
sample_submission.to_csv('baseline_submission.csv', index=False)